.profile {
  max-width: 69%;
  margin: 0 auto 50px auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1171px) and (max-width: 1279px) {
  .profile {
    max-width: 75%;
  }
}

@media screen and (min-width: 848px) and (max-width: 1170px) {
  .profile {
    max-width: 80%;
  }
}

@media screen and (max-width: 847px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    margin: 0 auto 36px auto;
  }
}


