.profile__card {
  max-width: 336px;
  margin: 0 244px 0 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 1279px) {
  .profile__card {
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media screen and (max-width: 976px) {
  .profile__card {
    max-width: 282px;
    margin: 0 auto;
    margin-bottom: 36px;
    justify-content: center;
  }
}
